
name: CI
on: [pull_request, push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: 3.x
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install lint flake8 black pydocstyle
    - name: Run black
      run: black --check --verbose . || true
    - name: Run flake8
      run: |
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Run pydocstyle
      run: pydocstyle || true
  test:
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-cov coverage
        pip install https://github.com/bboe/coveralls-python/archive/github_actions.zip
    - name: Test with pytest
      run: coverage run --source app --module pytest
    - env:
        COVERALLS_PARALLEL: true
        COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      name: Submit to coveralls
      run: |
        coveralls
        find .
  complete_coverals:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Finished
      run: |
        echo "Done"
